<h1>Listing locais</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Lat</th>
    <th>Lon</th>
    <th>Cidade</th>
    <th>Uf</th>
    <th>Cep</th>
    <th>Rua</th>
    <th>Numero</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locais.each do |local| %>
  <tr>
    <td><%= local.nome %></td>
    <td><%= local.lat %></td>
    <td><%= local.lon %></td>
    <td><%= local.cidade %></td>
    <td><%= local.uf %></td>
    <td><%= local.cep %></td>
    <td><%= local.rua %></td>
    <td><%= local.numero %></td>
    <td><%= link_to 'Show', local %></td>
    <td><%= link_to 'Edit', edit_local_path(local) %></td>
    <td><%= link_to 'Destroy', local, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Local', new_local_path %>
