= form_for @viagem do |f|
	- if @viagem.errors.any?
		#error_explanation
			%h2= "#{pluralize(@viagem.errors.count, "error")} prohibited this viagem from being saved:"
			%ul
				- @viagem.errors.full_messages.each do |msg|
					%li= msg
	.row
		.twelve.columns
			.field
				= f.text_field :titulo, :placeholder => 'Título da viagem'
	.row
		.three.columns
			.field
				= f.text_field :data_saida, :placeholder => 'Saída', :value => @viagem.data_saida.strftime('%d/%m/%Y')
		.three.columns
			.field
				= f.text_field :data_retorno, :placeholder => 'Retorno', :value => @viagem.data_retorno.strftime('%d/%m/%Y')
		.three.columns
			.field
				= f.file_field :imagem
	.row
		.six.columns
			.field
				= f.text_area :descricao, :rows => 7, :placeholder => 'Descrição'
		.six.columns
			.field
				= f.text_field :contratante, :placeholder => 'Contratante'
			.field
				= f.text_field :custo_global, :placeholder => 'Custo global'
			.field
				= f.text_field :receita_global, :placeholder => 'Receita global'
	.row 
		.twelve.columns
			.actions
				= f.submit 'Salvar', :class => :button
