%h1 Todas as Viagens

%table
  %tr
    %th Titulo
    %th Data saida
    %th Data retorno
    %th Descricao
    %th Contratante
    %th Custo global
    %th Receita global
    %th
    %th
    %th

  - @viagens.each do |viagem|
    %tr
      %td= viagem.titulo
      %td= viagem.data_saida
      %td= viagem.data_retorno
      %td= viagem.descricao
      %td= viagem.contratante
      %td= viagem.custo_global
      %td= viagem.receita_global
      %td= link_to 'detalhes', viagem
      %td= link_to 'Editar', edit_viagem_path(viagem)
      %td= link_to 'Apagar', viagem, method: :delete, data: { confirm: 'Tem certeza?' }

%br

= link_to 'New Viagem', new_viagem_path
