.row.viagem
  .twelve.columns
    .row.header
      .two.columns.thumb
        = image_tag @viagem.imagem.thumb_med.url
      .ten.columns.titulo
        %h2= @viagem.titulo
        %h5= "de #{@viagem.data_saida} a #{@viagem.data_retorno}"
    .row
      .eight.columns.descricao
        = @viagem.descricao

      .four.columns.informacoes
        %p
          %strong Contratante:
          = @viagem.contratante
        %p
          %strong Custo global:
          = @viagem.custo_global
        %p
          %strong Receita global:
          = @viagem.receita_global

= link_to 'Editar', edit_viagem_path(@viagem)
\|
= link_to 'Voltar', viagens_path
