%p#notice= notice

%p
  %b Titulo:
  = @viagem.titulo
%p
  %b Data saida:
  = @viagem.data_saida
%p
  %b Data retorno:
  = @viagem.data_retorno
%p
  %b Local saida:
  = @viagem.local_saida
%p
  %b Local retorno:
  = @viagem.local_retorno
%p
  %b Descricao:
  = @viagem.descricao
%p
  %b Contratante:
  = @viagem.contratante
%p
  %b Custo global:
  = @viagem.custo_global
%p
  %b Receita global:
  = @viagem.receita_global

= link_to 'Edit', edit_viagem_path(@viagem)
\|
= link_to 'Back', viagens_path
