<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @viagem.titulo %>
</p>

<p>
  <b>Origem:</b>
  <%= @viagem.origem %>
</p>

<p>
  <b>Destino:</b>
  <%= @viagem.destino %>
</p>

<p>
  <b>Distancia:</b>
  <%= @viagem.distancia %>
</p>

<p>
  <b>Saida:</b>
  <%= @viagem.saida %>
</p>

<p>
  <b>Retorno:</b>
  <%= @viagem.retorno %>
</p>

<p>
  <b>Motora:</b>
  <%= @viagem.motora %>
</p>

<p>
  <b>Valor contrato:</b>
  <%= @viagem.valor_contrato %>
</p>


<%= link_to 'Edit', edit_viagem_path(@viagem) %> |
<%= link_to 'Back', viagens_path %>
