%ul.nav-bar
	%li.active.support.tag
		= link_to "O Projeto", root_path
	%li.has-flyout
		= link_to "Invasoes", "#"
		%a.flyout-toggle{:href => "#"}
			%span=""
		%ul.flyout
			%li 
				= link_to 'Viagens', [:viagens]
				= link_to 'Locais', [:locais]
				= link_to 'Tripulantes', [:tripulantes]
 